* {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  /* height: 100vh; */
  background-color: rgb(36, 36, 36);
}

.container {
  position: relative;
  margin: 5vw 8vw;
  width: 84vw;
  height: calc(100vh - 10vw);
}

.photoList {
  width: 100%;
  height: 100%;
  justify-content: space-between;
  float: right;
}

.photo {
  width: 25%;
  float: left;
  height: 100%;
  /* box-shadow: inset 0 0 1rem rgb(40, 40, 40); */
  transition: background-position 20s;
  transition-timing-function: linear;
  cursor: pointer;
  font-family: "Playfair Display", serif;
  color: #fff;
  background-size: cover;
}

.click,
.season {
  display: block;
  margin-left: 5%;
}

.click {
  margin: 10% 0 0% 5%;
  font-size: 1rem;
}

.season {
  font-size: 2.5rem;
  font-weight: 800;
}

.season + span {
  font-size: 1rem;
  margin-left: 5%;
}

#spring {
  background-position: 0% 50%;
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.8),
      rgba(46, 46, 46, 0.5),
      rgba(46, 46, 46, 0.3)
    ),
    url("images/spring.jpg");
}

#spring:hover,
#summer:hover {
  background-position: 100% 50%;
}

#autumn:hover,
#winter:hover {
  background-position: 0% 50%;
}

#summer {
  background-position: 0% 50%;
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.8),
      rgba(46, 46, 46, 0.5),
      rgba(46, 46, 46, 0.3)
    ),
    url("images/summer1.jpg");
}

#autumn {
  background-position: 100% 50%;
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.8),
      rgba(46, 46, 46, 0.5),
      rgba(46, 46, 46, 0.3)
    ),
    url("images/autumn.jpg");
}

#winter {
  background-position: 100% 50%;
  background-image: linear-gradient(
      rgba(46, 46, 46, 0.8),
      rgba(46, 46, 46, 0.5),
      rgba(46, 46, 46, 0.3)
    ),
    url("images/winter.jpg");
}

.base {
  height: 0;
}

.btn {
  position: absolute;
  right: 0;
  margin-top: 2%;
  width: 6vw;
  height: 2vw;
  font-size: 1rem;
  background-color: rgba(225, 225, 225, 0.3);
  border: none;
  font-family: "Playfair Display", serif;
  /* font-weight: 800; */
  color: #fff;
  border-radius: 10px;
}

.mainPhoto {
  transition: 1s;
  position: absolute;
  top: 0;
  width: 70%;
  height: 100%;
}

.changeH {
  height: 20%;
}

.displayNone {
  display: none;
}

.changeBorder {
  box-shadow: inset 1px 1px 1px #fff, inset -1px -1px 1px #fff;
}

.margin10 {
  font-size: 2rem;
  margin-top: 10%;
}

.floatRight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.displayWidthNone {
  transition: 0.5s;
  width: 0;
}

.mainPic {
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: 0;
}
