@font-face {
  font-family: "GangwonEduPowerExtraBoldA";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 100vw;
  min-height: 100vh;
  /* font-family: "bitbit"; */
  font-family: "GangwonEduPowerExtraBoldA";
}

div {
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  overflow: hidden;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 110vh;
  font-size: 20vw;
  background: white;
  color: black;
  text-align: center;
  mix-blend-mode: screen;
  text-transform: uppercase;
}
