/* button */
#dayButton {
  color: rgb(255, 148, 131);
  border: 2px rgb(255, 164, 157) solid;
  filter: drop-shadow(0px 0px 2px rgb(255, 174, 151));
}

#dayButton:hover {
  background-color: rgba(255, 116, 62, 0.1);
}

/* title */
#textDay {
  -webkit-text-stroke-color: rgb(255, 170, 170);
  color: rgb(253, 250, 240);
  white-space: nowrap;
}

#dayTitle {
  /* animation: text1 2s infinite; */
}
